benishijimi_report/benishijimi_report.pdf
benishijimi_report/benishijimi_report.synctex.gz
akatateha_report/akatateha_report.pdf
akatateha_report/akatateha_report.synctex.gz
akatateha_report/akatateha_report.aux
akatateha_report/akatateha_report.fdb_latexmk
monkichou_report/monkichou_report.pdf
monkichou_report/monkichou_report.synctex.gz
kitateha_report/kitateha_report.pdf
kitateha_report/kitateha_report.synctex.gz
